In [1]:
def multiply_by2(li):
    new_list = []
    for item in li:
        new_list.append(item*2)
    return new_list

multiply_by2([6,7,23])

[12, 14, 46]

In [ ]:
def multiply_by2(li):
    new_list = []
    for item in li:
        new_list.append(item*2)
    return print(new_list)  #this isnt a  pure function as it has side effects.

multiply_by2([6,7,23])

In [ ]:
new_list = [] #this isn't a pure function as it now touches new_list which is in the outside world
def multiply_by2(li):
    for item in li:
        new_list.append(item*2)
    return new_list

multiply_by2([6,7,23])

Map()

In [2]:
def multiply_by2(item):
    return item*2

list(map(multiply_by2, [1,2,3]))

[2, 4, 6]

In [25]:
#implementing using a lambda function
list(map(lambda x : x * 2, [1,2,3]))

[2, 4, 6]

In [3]:
#using Map to capitalise a list of emails.

In [16]:
emails = ['tapiwac@outlook.com', 
        'leonam@outlook.com',
        'tendaim@outlok.com',
        'tohnv@outlok.com',
        'davida@mansoon.com',
        'geraldz@bhonjisi.com']

In [17]:
def capitalise_email(email):
    return email.upper()

list(map(capitalise_email, emails))

['TAPIWAC@OUTLOOK.COM',
 'LEONAM@OUTLOOK.COM',
 'TENDAIM@OUTLOK.COM',
 'TOHNV@OUTLOK.COM',
 'DAVIDA@MANSOON.COM',
 'GERALDZ@BHONJISI.COM']

In [26]:
#implementing using a lambda function
list(map(lambda x : x.upper(), emails))

['TAPIWAC@OUTLOOK.COM',
 'LEONAM@OUTLOOK.COM',
 'TENDAIM@OUTLOK.COM',
 'TOHNV@OUTLOK.COM',
 'DAVIDA@MANSOON.COM',
 'GERALDZ@BHONJISI.COM']

Filter()

In [18]:
def check_odd(num):
    return num % 2 != 0

list(filter(check_odd, [1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [22]:
# filter emails that start with 't'

def starts_with_t(email):
    return email[0] == 't'

list(filter(starts_with_t, emails))

['tapiwac@outlook.com', 'tendaim@outlok.com', 'tohnv@outlok.com']

In [24]:
#implementing using a lambda function
list(filter(lambda x: x[0] == 't', emails))

['tapiwac@outlook.com', 'tendaim@outlok.com', 'tohnv@outlok.com']

Zip()

In [27]:
my_list = [1,2,3]
your_list = [10,20,30]

list(zip(my_list, your_list))

[(1, 10), (2, 20), (3, 30)]

Reduce()

In [33]:
from functools import reduce

my_list = [1,2,3]

def accumulator(acc, item):
    return acc + item

reduce(accumulator, my_list, 4)

10

Exercises: map, filter, zip, reduce

In [64]:
#1 Capitalize all of the pet names and print the list
my_pets = ['sisi', 'bibi', 'titi', 'carla']

list(map(lambda x : x.capitalize(), my_pets))

['Sisi', 'Bibi', 'Titi', 'Carla']

In [65]:
#2 Zip the 2 lists into a list of tuples, but sort the numbers from lowest to highest.
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [5,4,3,2,1]

list(zip(my_strings, sorted(my_numbers)))

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [66]:
#3 Filter the scores that pass over 50%
scores = [73, 20, 65, 19, 76, 100, 88]

list(filter(lambda x : x > 50, scores))

[73, 65, 76, 100, 88]

In [67]:
from functools import reduce

#4 Combine all of the numbers that are in a list on this file using reduce (my_numbers and scores). What is the total?

def accumulator(acc, item):
    return acc + item

reduce(accumulator, my_numbers) + reduce(accumulator, scores)

456

Lambda Exersise

In [68]:
#Square the list

my_list = [5,4,3]

list(map(lambda x : x ** 2, my_list))

[25, 16, 9]

In [72]:
#List sorting based on the second value of the tuple
a = [(0,2), (4,3), (9,9), (10,-2)]

a.sort(key = lambda x : x[1])
a

[(10, -2), (0, 2), (4, 3), (9, 9)]

List Comprehension

In [73]:
my_list = [char for char in 'hello']
my_list

['h', 'e', 'l', 'l', 'o']

In [83]:
my_list2 = [num ** 2 for num in range(100) if num % 2 == 0]
my_list2

[0,
 4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [85]:
#Set comprehensions
my_set = {char for char in 'hello'}
my_set #only unique items. also unordered elements

{'e', 'h', 'l', 'o'}

Dictionary Comprehension

In [87]:
simple_dict = {
    'a': 1,
    'b': 2,
    'c': 3
}

my_dict = {k:v**2 for k,v in simple_dict.items()}
my_dict

{'a': 1, 'b': 4, 'c': 9}

In [88]:
my_dict = {num:num * 2 for num in [1,2,3]}
my_dict

{1: 2, 2: 4, 3: 6}

Comprehension exercise

In [90]:
some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

duplicates = []

i = 0
while i < len(some_list):
    if some_list.count(some_list[i]) > 1:
        if some_list[i] not in duplicates:
            duplicates.append(some_list[i])
    i += 1

duplicates

['b', 'n']

In [117]:
# using comprehension

some_list = ['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n']

duplicates = list({item for item in some_list if some_list.count(item) > 1})
duplicates

['n', 'b']